@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #686de0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
.container {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
  border-radius: 10px;
  max-width: 100%;
  width: 800px;
}
h3 {
  font-size: 30px;
  opacity: 0.7;
  letter-spacing: 2px;
}

.joke {
  margin: 50px auto;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.btn {
  padding: 20px 35px;
  background-color: #9f68e0;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.btn:active {
  scale: 0.98;
}
